##### 2D lists

In [ ]:
t=["mahnoor",2,3,4,5] #whole numbers 4 elements
print(t[0])
a=(2,3,4,5)

mahnoor

In [ ]:
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

#The data elements in two dimesnional arrays can be accessed using two indices

print(T[0])

print(T[1][2])

[11, 12, 5, 2]
10

In [ ]:
# new data element is inserted at index position 2.

T.insert(2, [0,5,11,13,6])
print(T)

[[11, 12, 5, 2], [15, 6, 10], [0, 5, 11, 13, 6], [10, 8, 12, 5], [12, 15, 8, 6]]

In [ ]:
# Updating Values
T[2] = "String_Value"
T[0][3] = "r"

print(T)

[[11, 12, 5, 'r'], [15, 6, 10], 'String_Value', [10, 8, 12, 5], [12, 15, 8, 6]]

In [ ]:
#Deleting the Values

del T[0][3]

In [ ]:
print(T)

[[11, 12, 5], [15, 6, 10], 'String_Value', [10, 8, 12, 5], [12, 15, 8, 6]]

##### Working with python dictionaries

Dictionaries allow us to work with key value pairs. Where key is the unique identifier where we can find our data and value is that data it self. We can think of it as real dictionary.

In [ ]:
student = {'name':'Rabya', 'age': 33.9, '####' : 33.6 ,'phone': 75 , 'courses': ('maths', 'science')}
print(student['age'])
#print(student['number'])

#print(student.get('phone'))
print(student.get('####', 'NULL'))
print(type(student))

33.9
33.6
<class 'dict'>

In [ ]:
# Example: We want to represent a student using a dictionary

# dictionary_name = {key:value, as many as required}
# Key can be an integer or a string

student = {'name':'Rabya', 'age': 33, 'courses': ['maths', 'science']}
print(student['age'])

# print(student['phone']) error

print(student.get('phone')) # return none

print(student.get('phone', 'Not found')) #customized message

# add an element in the dictionary

student['phone'] = 55555 # new value

student['name'] = 'Sayed' # update the value

print(student)

# another way to update a value is using the update method

student.update({'name':'Khan', 'age': 40, 'courses': ['english', 'urdu']})

print(student)

# delete a key from the dictionary

del student['courses']

print(student)

# another way to delete will be to pop the value and it will also return this value

age = student.pop('age')


print(student)

#loop through the values of keys in dictionary

print(len(student)) # total elements

print(student.keys()) # only keys

print(student.values()) # only values

print(student.items()) # show both, key value pairs

for key, value in student.items():
    print(key, value)

33
None
Not found
{'name': 'Sayed', 'age': 33, 'courses': ['maths', 'science'], 'phone': 55555}
{'name': 'Khan', 'age': 40, 'courses': ['english', 'urdu'], 'phone': 55555}
{'name': 'Khan', 'age': 40, 'phone': 55555}
{'name': 'Khan', 'phone': 55555}
2
dict_keys(['name', 'phone'])
dict_values(['Khan', 55555])
dict_items([('name', 'Khan'), ('phone', 55555)])
name Khan
phone 55555

##### Python Basics Lesson - 3

1. Conditional statements (if-else)
2. Complex conditional statements (nested - ifs)
3. For loop
4. Iterating through the data structures using for loop

##### The if statement

if (Condition):(statement)
If the the condition comes out to be true only then the statement is executed.

In [ ]:
# Example

num = int(input("Enter a positive or negative number: "))

#check if num is greater then 0
if num > 0: print (num, " is a positive number!")

#check if num is less then 0
if num < 0: print (num, " is a negative number!")

Enter a positive or negative number: -4478
-4478  is a negative number!

##### If… Else

We can use If…Else when we need to have a block of code executed even when the Boolean test returns a negative.

In [ ]:
#A Program to determine the rate of discount based on price

price = int(input("Enter the price of the item: "))

if price < 100:
    discount = (price * 0.05)
    print ("The discount is ", discount)
else:
    discount = (price * 0.1)
    print ("The discount is ", discount)

print ("You will pay ", price - discount,"in total.")

Enter the price of the item: 7678
The discount is  767.8000000000001
You will pay  6910.2 in total.

##### Elif

A step from the If…else statement is the Elif
This statement allows the program to check multiple expressions and executes a block of code when one of the conditions returns TRUE.

In [ ]:
#Program to determine the rate of discount based on price
price = int(input("Enter the price: "))

if price < 100:
    discount = (price * 0.05)
    print ("The discount is ", discount)
elif price < 500:
    discount = (price * 0.1)
    print ("The discount is ", discount)
elif price < 1000:
    discount = (price * 0.2)
    print ("The discount is ", discount)
else:
    discount = (price * 0.25)
    print ("The discount is ", discount)

print ("The final price of the item is ", price - discount)

Enter the price: 600
The discount is  120.0
The final price of the item is  480.0

##### 2. Complex conditional statements (Nested IF )

In situations where you want to write a program that checks for another condition after a condition is resolved to be True, you can use a nested IF construct. The nested if has the If… Elif…. Else construct within other If… Elif… Else constructs.

In [ ]:
#A program to check if a number is divisible by 3 and 2

num = int(input("Enter a number to check divisibility: "))

if num % 2 == 0:
    if num % 3 == 0:
        print("Divisible by 2 and 3")
    else:
        print ("Divisible by 2 but not by 3")
else:
    if num % 3 == 0:
        print ("Divisible by 3 but not by 2")
    else:
        print ("Neither divisible by 2 nor 3 ")

Enter a number to check divisibility: 19
Neither divisible by 2 nor 3

In [ ]:
#Let the students identify how to add a nested if for checking if a value is equal to zero.
num = 15
if num >= 0:
    '''if num == 0:
       print("Zero")
    else:
        print("Positive number") '''
else:
    print("Negative number")

##### 3.  For Loop

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

Syntax - for <variable> in <sequence>: <statements>

In [ ]:
a= 4
b= "mahnoor"
c=5.6
#lists #tuples #sets #dictionaries

In [ ]:
# Examples

# for x in range(10):print (x)


fruits = ["Apples", "Mangoes", "Peaches", "Oranges", "Bananas"]

#for x in fruits:
 #   print (x)

marks=[23,33,565,9]
for x in marks:
  if x % 2==0:
    print(x,"even number")
  if x % 3==0:
    print(x,"divisibke by 3")
  else:
    print(x, "odd")


#for (pos, item) in enumerate(fruits):print(pos, item)

23 odd
33 divisibke by 3
565 odd
9 divisibke by 3

In [ ]:
marks=[23,34,565,78]
print(marks[1])
marks[1]=36
print(marks[1])

34
36

In [ ]:
# Examples

# Addition of elements in a List

# Creating a List
List = []

# Addition of Elements in the List without using loop
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)

# Adding elements to the List using Iterator
for i in range(1, 5):
    List.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List)

List after Addition of Three elements:
[1, 2, 4]

List after Addition of elements from 1-3:
[1, 2, 4, 1, 2, 3, 4]

In [ ]:
# Iterating through the nested dictionaries using the loop

people = {1: {'Name': 'John', 'Age': '27', 'Sex': 'Male'},
          2: {'Name': 'Marie', 'Age': '22', 'Sex': 'Female'}}

for p_id, p_info in people.items():
    print("\nPerson ID:", p_id)

    for key in p_info:
        print(key + ':', p_info[key])

Person ID: 1
Name: John
Age: 27
Sex: Male

Person ID: 2
Name: Marie
Age: 22
Sex: Female

##### Else statement with the for loop

Sometimes we do not have to iterate through the whole list and its the first encounter that gives the idea of how the list looks like.

In [ ]:


for num in numbers:
    if num %2 == 0:
        print ("The list contains an even number")
        break
else:
    print ("The list does not contain even numbers")

The list does not contain even numbers

##### Loop Control Statements

When you want to change execution from a normal sequence in a loop, you use loop control statements. Python supports break and continue loop control statements.

In [ ]:
# 1. Break statement

s = 'Python for data science'

# Using for loop
for letter in s:

    print(letter)
    # break the loop as soon it sees 'd'
    # or 's'
    if letter == 't' or letter == 's':
        break

print("Out of for loop")

P
y
t
Out of for loop

In [ ]:
s= "python is good"
for x in s:
    print(x)
    if x=="t" or x=="0":
      break
print("i am ot of loop")

p
y
t
i am ot of loop

In [ ]:
# 2. Continue statement
#The continue statement causes the loop to skip the remaining part of the block of
#code and immediately retests the condition before the reiteration.

# loop from 1 to 10
for i in range(1, 10):

    # If i is equals to 6,
    # continue to next iteration
    # without printing
    if i == 6:
        continue
    else:
        # otherwise print the value
        # of i
        print(i, end = " ")

1 2 3 4 5 7 8 9